# negrroo
# LawRun-Kernel Edit.
# LawRun Kernel Manager Support
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1

   # Enable LawRun support
   setprop lawrun.support 1


# Balance
on property:persist.lawrun.profile=0
   exec u:r:init:s0 root root -- /sbin/spa balance
   exec u:r:magisk:s0 root root -- /sbin/spa balance

# Extra Balanced
on property:persist.lawrun.profile=1
   exec u:r:init:s0 root root -- /sbin/spa ebalance
   exec u:r:magisk:s0 root root -- /sbin/spa ebalance

# Battery
on property:persist.lawrun.profile=2
   exec u:r:init:s0 root root -- /sbin/spa battery
   exec u:r:magisk:s0 root root -- /sbin/spa battery

# Performance 
on property:persist.lawrun.profile=3
   exec u:r:init:s0 root root -- /sbin/spa performance
   exec u:r:magisk:s0 root root -- /sbin/spa performance

# Gaming
on property:persist.lawrun.profile=4
   exec u:r:init:s0 root root -- /sbin/spa gaming
   exec u:r:magisk:s0 root root -- /sbin/spa gaming
